*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    width:100%;
    height:100vh;
    background-color:#fff;
}

#logo{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);   
    animation:fills 0.5s ease forwards 4.9s;
}

/*
#logo path:nth-child(1){
    stroke-dasharray: 100px;
}*/

#logo path{
    stroke-width:5px;
}

#logo path:nth-child(2){
    stroke-dasharray: 231px;
    /*
        stroke-dasharray 에
        getTotalLength로 얻은 총 길이 넣기
        :: 전체 path 보임.
    */
    stroke-dashoffset: 231px;
    /*
        stroke-dashoffset 에
        stroke-dasharray 와 똑같이 값 넣기
        :: 전체 path 안보임.
        ** stroke-dashoffset 값을 조금씩 줄이면
        서서히 path가 보이는 애니메이션 효과가 보임
    */

    animation:line-anim 0.6s ease forwards;
}
#logo path:nth-child(3){
    stroke-dasharray:228px;
    stroke-dashoffset:228px;
    animation:line-anim 0.6s ease forwards 0.3s;
}
#logo path:nth-child(4){
    stroke-dasharray:111px;
    stroke-dashoffset:111px;
    animation:line-anim 0.6s ease forwards 0.6s;
}
#logo path:nth-child(5){
    stroke-dasharray:214px;
    stroke-dashoffset:214px;
    animation:line-anim 0.6s ease forwards 0.9s;
}
#logo path:nth-child(6){
    stroke-dasharray:111px;
    stroke-dashoffset:111px;
    animation:line-anim 0.6s ease forwards 1.2s;
}
#logo path:nth-child(7){
    stroke-dasharray:214px;
    stroke-dashoffset:214px;
    animation:line-anim 0.6s ease forwards 1.5s;
}
#logo path:nth-child(8){
    stroke-dasharray:262px;
    stroke-dashoffset:262px;
    animation:line-anim 0.6s ease forwards 1.7s;
}
#logo path:nth-child(9){
    stroke-dasharray:172px;
    stroke-dashoffset:172px;
    animation:line-anim 0.6s ease forwards 2.0s;
}
#logo path:nth-child(10){
    stroke-dasharray:192px;
    stroke-dashoffset:192px;
    animation:line-anim 0.6s ease forwards 2.3s;
}
#logo path:nth-child(11){
    stroke-dasharray:228px;
    stroke-dashoffset:228px;
    animation:line-anim 0.6s ease forwards 2.6s;
}
#logo path:nth-child(12){
    stroke-dasharray:226px;
    stroke-dashoffset:226px;
    animation:line-anim 0.6s ease forwards 2.9s;
}
#logo path:nth-child(13){
    stroke-dasharray:193px;
    stroke-dashoffset:193px;
    animation:line-anim 0.6s ease forwards 3.2s;
}
#logo path:nth-child(14){
    stroke-dasharray:207px;
    stroke-dashoffset:207px;
    animation:line-anim 0.6s ease forwards 3.5s;
}
#logo path:nth-child(15){
    stroke-dasharray:228px;
    stroke-dashoffset:228px;
    animation:line-anim 0.6s ease forwards 3.8s;
}
#logo path:nth-child(16){
    stroke-dasharray:169px;
    stroke-dashoffset:169px;
    animation:line-anim 0.6s ease forwards 4.1s;
}
#logo path:nth-child(17){
    stroke-dasharray:111px;
    stroke-dashoffset:111px;
    animation:line-anim 0.6s ease forwards 4.4s;
}
#logo path:nth-child(18){
    stroke-dasharray:228px;
    stroke-dashoffset:228px;
    animation:line-anim 0.6s ease forwards 4.7s;
}
#logo path:nth-child(19){
    stroke-dasharray:231px;
    stroke-dashoffset:231px;
    animation:line-anim 0.6s ease forwards 5.0s;
}
#logo path:nth-child(20){
    stroke-dasharray:228px;
    stroke-dashoffset:228px;
    animation:line-anim 0.6s ease forwards 5.3s;
}
#logo path:nth-child(21){
    stroke-dasharray:111px;
    stroke-dashoffset:111px;
    animation:line-anim 0.6s ease forwards 5.6s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset:0;
    }
}

@keyframes fills{
    from{
        fill:transparent;
    }
    to{
        fill:#3918BD;
    }
}
